@import "../../components/bootstrap/scss/bootstrap";
@import "../../components/components-font-awesome/scss/font-awesome";

/* sidebar */
@import "sidebar";


/* Header */

@import "header";

/* Card-Custom */
@import "card-custom";

@include media-breakpoint-up('lg') {
	.container{
		width: 85%;
		margin-left: 195px;
	}
}

/* Titulo das páginas */
.headline{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 15px 20px;
}


/* Pré inscrição */
.premain {
	display: none;
}

.local{
	font-size: 1.1rem;
	text-align: center;
}


.headline-custom{
	font-size: 2rem;
	font-weight: bold;
	margin-top: 40px;
	text-align: center;
	color: $brand-warning;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Inscrição */
.inscricao{
	background-color: #fff;
	padding: 30px 10px;
	border-radius: 5px;
	.form-control{
		padding: 1.5rem 0.75rem;
	}	
	.form-inline{
		justify-content: space-between;
	}
}

.btn-palpites{
	padding: 1.5rem 0.75rem;
	margin-bottom: 20px;
}

.insc-resp{
	color: #000;
}

.info{
	margin-top: 63px;
}

.confronto{
	text-align: center;
	text-transform: uppercase;
}

.band-sel{
	width: 40px;
	height: 40px;
}

.vs{
	font-size: 1rem;
}

.palpites{
	display: flex;
    align-items: center;
    text-align: center;
    padding-left: 38px;
}

.pontos{
	float: right;
	font-weight: bold;
	color: $brand-success;
	background-color: #f7f7f9;
}

.oficial{
	font-weight: bold;
	color: #b2afaf;
}

.res-ofi{
	text-align: center;
	font-size: 10px;
	color: #b2afaf;
}

.liga-csc{
	width: 100%;
	overflow-x: auto;
	display: table;
	text-align: center;
	.table-title{
		text-align: center;
	}
}

.pts{
	font-weight: bold;
}

.card-tbl{
	position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.bg-table{
	background-color: #efefef;
}

#form-palpites {
	display: none;
}

.form-group {
    margin-bottom: 1rem;
    border: solid 1px #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -1px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #293541;
    border-color: #ddd #ddd #efefef;
}

.tbl-brasileiro {
    text-align: center;
    background-color: #fff;
}

.legenda {
    list-style: none;
    padding-top: 10px;
    padding-left: 0;
}

.media-parcial {
    background-color: #175b0c !important;
    color: white;
    font-weight: bold;
}

.paginacao {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.tbl-brasileiro .tbl-head-brasileiro th {
    text-align: center;
    color: #fff;
}

.est-rodada {
    justify-content: space-between;
    background-color: #fc8f3e;
}

.pos-rodada {
    font-size: 1rem;
    font-weight: bold;
}

.table th, .table td {
    padding: 1.2rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.page-rodada {
    position: relative;
    display: block;
    padding: 1.3rem 0.75rem;
    line-height: 1.25;
    color: #fff;
    background-color: #fc8f3e;
}

.page-rodada:hover {
    color: #fff;
    text-decoration: none;
}

.colocacao{
	text-align: center;
}

.n-rodada {
    padding-top: 7px;
    font-size: 2.1rem;
    font-weight: bold;
    color: #fff;
}

.estrutura {
    margin-bottom: 2px;
}

.info-data {
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
}

.confronto {
	display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #293541;
}

.titulo-clube {
    display: flex;
}

.nome-abrev-right {
    padding-right: 6px;
    text-transform: uppercase;
}

.time {
    width: 30px;
    height: 30px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-local {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
}