.sidebar{
	width: 70%;
	max-width: 180px;
	height: 100%;
	position: fixed;
	left: -80%;
	top: 0;
	background-color: $brand-primary;
	transition: left .2s;
	z-index: 1001;
	.sidebar-header{
		width: 100%;
		height: $height-header-items;
		background-color: $brand-warning;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nav{
		flex-direction: column;
		.nav-item{
			padding:.3em .1em;
		}
		.nav-link{
			font-size: .9rem;
			color: #ccc;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:hover{
				color: #fff;
				.fa{
					color: $brand-warning;
				}
			}
		}
		.fa{
			font-size: 1.5em;
		}
	}

	@include media-breakpoint-up('lg'){
		left: 0;
		.nav .nav-link{
			font-size: 1.0rem;
		}
		.nav .fa{
			font-size: 1.7em;
		}
	}
}

.nav-active {
	color: #fff !important;
	.fa{
		color: $brand-warning;
	}
}

.open-sidebar{
	&:after{
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0, .4);
		z-index: 1000;
	}
	.sidebar{
		left: 0;
	}
}