@import "../components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome";

/* sidebar */
@import "sidebar";


/* Header */

@import "header";

/* Card-Custom */
@import "card-custom";

@include media-breakpoint-up('lg') {
	.container{
		width: 85%;
		margin-left: 195px;
	}
}

/* Titulo das páginas */
.headline{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 15px 20px;
}

.headline-rodada{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 15px 20px;
	float: right;
	> strong{
		color: $brand-warning;
	}
}

/* Pré inscrição */
.premain {
	display: none;
}

.pre-inscricao{
	background: url(../img/pre-inscricao.png) no-repeat top center; 	
  	height:515px;
  	.pre-msg{
  		text-align: center;
  		padding: 5px 5px; 
  	}
}

.headline-custom{
	font-size: 2rem;
	font-weight: bold;
	margin-top: 40px;
	text-align: center;
	color: $brand-warning;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Tabela Cartola sem cartola */
.liga-csc{
	width: 100%;
	overflow-x: auto;
	display: table;
	text-align: center;
	.table-title{
		text-align: center;
	}
}

.table th, .table td{
	padding: 0.56rem
}

.liga-csc tbody tr td, .liga-csc tbody th {
	vertical-align: middle;
}

.bg-table{
	background-color: #efefef;
}

/* Scouts */
.busca-time{
	padding: 1.5rem 0.75rem;
}

/* Mata Mata */
.torneio-mata{
	display: flex;
}
.mata-and{
	text-align: center;
	text-decoration: none;

	&:hover{
		background-color: #fff;
	}
}

.text-white{
	padding: 15px;
	margin-bottom: 5px;
	align-items:center;
}

.vol-mata{
	float: right;
	>a{
		color: #fff;
	}
}

/* Pontuação */

.tbl-scouts{
	color: #fff;
}

.positivo{
	font-weight: bold;
	color: #34a544;
}

.negativo{
	font-weight: bold;
	color: #f3091d;
}

/* Inscrição */
.inscricao{
	background-color: #fff;
	padding: 30px 10px;
	border-radius: 5px;
	.form-control{
		padding: 1.5rem 0.75rem;
	}
	.form-inline{
		justify-content: space-between;
	}
}

.insc-resp{
	color: #000;
}

.info{
	margin-top: 63px;
}


/* Confronto mata mata */
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.confronto{
	display: flex;
	justify-content: space-around;
}

.vs{
	font-size: 4rem;
	font-weight: bold;
	color: $brand-primary;
}

.clube{
	margin-bottom: 0;
	padding-top: 5px;
	font-weight: 400;
	text-align: center;
}

.pontuacao{
	text-align: center;
	font-size: 2rem;
}

.chaveamento{
	margin-top: 10px;
	text-align: center;
    font-size: 11px;
    color: #999;
}

.confrontos{
	padding: 16px;
}


/* Historia do Clube */

.historia{
	padding-top: 20px;
	padding-bottom: 20px;
	.apresentacao{
		margin-top: 18px;
		padding: 0;
	}
}

.info-clube{
	font-size: 11px;
	font-weight: bold;
	color: #040404;
	padding:0; 
	.nome{
		font-size: 2rem;
		font-style: italic;
		color: $brand-primary;
		text-shadow: 1px 0px 0px white, -1px 0px 0px white, 0px 1px 0px white, 0px -1px 0px white;
		text-align: justify;
	}
}

.times{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	list-style: none;
	padding-top: 15px;
	>li{
		padding-right: 10px;
	}
}

.sep{
	border: 1px solid $brand-warning;
}

.titulos{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.5rem;
	color: $brand-primary;
	text-transform: uppercase;
}

.fundo{
	background: url(../img/torcida.png) no-repeat;
	margin-left: 3px;
}

.brasao{
		padding-top: 15px;
}

.cont-clube{
	margin-top: 20px;
}

.tit-clube{
	padding: 5px;
	text-transform: uppercase;
	color: $brand-primary;
	border-bottom: 2px solid $brand-warning;
}

.nome-torneio, .ano{
	text-align: center;
	font-size: 1rem;

}	

.posicao{
	font-size: 8.5rem;
    text-align: center;
}

.pontuacao_temp{
	font-size: 5rem;
	text-align: center;
	padding-top: 60px;
}

ul.escudos {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
}

ul.escudos > li {
    display: inline;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 50%;
  }

.text-hitoria{
	padding-top: 15px;
	>p{
		text-align: justify;
	}
}

.dropdown-item:focus, .dropdown-item:hover{
	background-color: #efefef;
}



/* Estatistica Rodada a rodada */

.img-estatistica{
	background: url(../img/estatistica.png) no-repeat;
	height: 200px;
	margin-left: 3px;
}

.headline-est{
	margin-left: 50px;
	color: #fff;
	font-weight: bold;
}

.table-responsive{
	background-color: #fff;
}

.table-rodada th, .table-rodada td{
	background-color: #fff;
}

.fixed-column {
	margin-left: 233px;
	padding: 0;
}

.time-rodada{
	position: absolute;
	width: 233px;
	top: auto;
	left:15px;
	border-top-width: 1px;
	margin-top: -1px;
}

.titulo{
	font-weight: bold;
	color: $brand-primary;
}

.rodada{
	font-size: 1rem;
	font-weight: bold;
}

//Pontuação < 30
.ruim{
	color:#f22436;
}

.badge.ruim{
	background-color: #f22436;
}

// Pontuação >=30 e <50
.regular{
	color:#9f7d15;
}

.badge.regular{
	background-color: #9f7d15;
}

// Pontuação >=50 e <80
.bom{
	color:#0070c0;
}

.badge.bom{
	background-color: #0070c0;
}

//Pontuação >=80 e <100
.excelente{
	color:#217346;
}

.badge.excelente{
	background-color: #217346;
}

//Pontuação > 100
.mitou{
	color:#ed7d31;
}

.badge.mitou{
	background-color: #ed7d31;
}

//Total

.total-pontos{
	font-weight: bold;
	color: #0f073f;
}

.pontos-total{
	background-color: #0f073f;
}

// Média Parcial
.media-parcial{
	color:#1e3e84;
	font-weight: bold;
}

.badge.media-parcial{
	background-color: #1e3e84;
}

//Média Campeonato
.media-camp{
	color:#175b0c;
	font-weight: bold;
}

.badge.media-camp{
	background-color: #175b0c;
}

.legenda{
	list-style:none;
	padding-top: 10px;
	padding-left: 0;
}

@media screen and (min-width: 20em) {

ul.escudos > li {
    width: 33.33333%;
  }

}

@media screen and (min-width: 320px) and (max-device-width: 480px) {
	.historia{
		padding-top: 5px;
	}
	.brasao{
		width: 90px;
	}	
	.info-clube{
		text-align: center;
	}
}
.login-box {
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	margin-top: 2%;
	padding: 0px !important;
	background-color: white;
	.login-header {
		background-color: #fc8f3e;
		border-bottom: 1px solid #cecece;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		.head-login {
			color: white;
			padding: 0px !important;
			font-size: 1.4rem;
			margin-left: 5px;
			vertical-align: middle;
		}
	}
	form {
		margin-left:30px !important;
		margin-right:30px !important;
		margin-bottom: 30px !important;
	}
}

.form-box {
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	margin-top: 2%;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px !important;
	background-color: white;
	padding-left:30px !important;
	padding-right:30px !important;
	padding-bottom: 30px !important;
}

.table-bordered, .table-bordered th, .table-bordered td {
    border: 1px solid #cccdce;
	vertical-align: middle !important;
}

.table-striped tbody tr:nth-of-type(even), .table-striped thead tr {
    background-color: white;
}

.add {
	color: #5cb85c;
}

.add-disabled {
	color: rgba(92, 184, 92, 0.35);
}

.edit {
	color: #5bc0de;
	margin-left: 5px;
	margin-right: 5px;
}

.edit-disabled {
	color: rgba(91, 192, 222, 0.35);
	margin-left: 5px;
	margin-right: 5px;
}

.del {
	color: #d9534f;
	margin-left: 5px;
	margin-right: 5px;
}

.del-disabled {
	color: rgba(217, 83, 79, 0.35);
	margin-left: 5px;
	margin-right: 5px;
}

.center {
	text-align: center;
	horizontal-align: center;
}

.bigcolumn {
	width: 60%;
}

.headline-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-link {
	cursor: pointer;
}

#box-rodada, #box-confirmacao, .mainform, .check-duplicated, .maintemporada, .mainadd, #box-confrontos, #box-times {
	display: none;
}

.btn-voltar {
	text-align: left;
    padding: 0px;
    margin-bottom: 20px;
}

#box-ano {
	.row {
		margin-bottom: 10px;
	}
}

.text-column {
	width: 40%;
}

.checkbox label .toggle, .checkbox-inline .toggle {
	margin-left: 0px !important;
}

.toggle.btn {
    min-width: 100px !important;
}

.label-versus {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
}


/* Tabela Brasileiro */

.tbl-brasileiro{
	text-align: center;
	background-color: #fff;
	.tbl-head-brasileiro th{
		text-align: center;
		color: #fff;
	}
	.tbl-pos-brasileiro th{
		text-align: center;
	}
}

.titulo-clube{
	display: flex;
}

.nome-abrev-right{
	padding-right: 6px;
	text-transform: uppercase;
}

.nome-abrev-float{
	padding-left: 6px;
	text-transform: uppercase;
}

.time{
	width: 30px;
	height: 30px;
}

.confronto{
	font-weight: bold;
    color: #293541;
}

.estrutura{
	margin-bottom: 2px;
}

.info-data{
	margin-top: 10px;
	text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
}

.info-local{
	text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    > strong{
    	text-transform: lowercase;
    	font-weight: 100;
    }
}

.est-rodada{
	justify-content: space-between;
	background-color: $brand-warning;
}

.n-rodada{
	padding-top: 7px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
}

.page-rodada{
	position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #fff;
    background-color: $brand-warning;
    &:hover{
    	color: #fff;
    	text-decoration: none;
    }
}

.pos-rodada{
	font-size: 1rem;
	font-weight: bold;
}

.paginacao{
	display: flex;
	padding-left: 0;
    list-style: none;
}

#destaques-rodada .card-block, #destaques-rodada footer, 
#desempenho-geral .card-block, #desempenho-geral footer,
#desempenho-rodada .card-block, #desempenho-rodada footer, 
#mata-mata-andamento .card-block, #mata-mata-andamento footer,
#desempenho-liga .card-block, #desempenho-liga footer, #destaques .col-sm-4 {
	display:none;
}