@import "../components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome";

/* sidebar */
@import "sidebar";


/* Header */

@import "header";

/* Card-Custom */
@import "card-custom";

@include media-breakpoint-up('lg') {
	.container{
		width: 85%;
		margin-left: 195px;
	}
}

/* Titulo das páginas */
.headline{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 15px 20px;
}

/* Pré inscrição */
#premain {
	display: none;
}

.pre-inscricao{
	background: url(../img/pre-inscricao.png) no-repeat top center; 	
  	height:515px;
  	.pre-msg{
  		text-align: center;
  		padding: 5px 5px; 
  	}
}

.headline-custom{
	font-size: 2rem;
	font-weight: bold;
	margin-top: 40px;
	text-align: center;
	color: $brand-warning;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Tabela Cartola sem cartola */
.liga-csc{
	width: 100%;
	overflow-x: auto;
	display: table;
	text-align: center;
	.table-title{
		text-align: center;
	}
}

.table th, .table td{
	padding: 0.56rem
}

.liga-csc tbody tr td, .liga-csc tbody th {
	vertical-align: middle;
}

.bg-table{
	background-color: #efefef;
}

/* Scouts */
.busca-time{
	padding: 1.5rem 0.75rem;
}

/* Mata Mata */
.torneio-mata{
	display: flex;
}
.mata-and{
	text-align: center;
	text-decoration: none;

	&:hover{
		background-color: #fff;
	}
}

.text-white{
	padding: 15px;
	margin-bottom: 5px;
	align-items:center;
}

/* Inscrição */
.inscricao{
	background-color: #fff;
	padding: 30px 10px;
	border-radius: 5px;
	.form-control{
		padding: 1.5rem 0.75rem;
	}
	.form-inline{
		justify-content: space-between;
	}
}

.insc-resp{
	color: #000;
}

.info{
	margin-top: 63px;
}


/* Confronto mata mata */
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.confronto{
	display: flex;
	justify-content: space-around;
}

.vs{
	font-size: 4rem;
	font-weight: bold;
	color: $brand-primary;
}

.clube{
	margin-bottom: 0;
	padding-top: 5px;
	font-weight: 400;
	text-align: center;
}

.pontuacao{
	text-align: center;
	font-size: 2rem;
}

.chaveamento{
	margin-top: 10px;
	text-align: center;
    font-size: 11px;
    color: #999;
}

.confrontos{
	padding: 16px;
}


/* Historia do Clube */

.historia{
	padding-top: 20px;
	padding-bottom: 20px;
	.apresentacao{
		margin-top: 18px;
		padding: 0;
	}
}

.info-clube{
	font-size: 11px;
	font-weight: bold;
	color: #040404;
	padding:0; 
	.nome{
		font-size: 2rem;
		font-style: italic;
		color: $brand-primary;
		text-shadow: 1px 0px 0px white, -1px 0px 0px white, 0px 1px 0px white, 0px -1px 0px white;
		text-align: justify;
	}
}

.times{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	list-style: none;
	padding-top: 15px;
	>li{
		padding-right: 10px;
	}
}

.sep{
	border: 1px solid $brand-warning;
}

.titulos{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.5rem;
	color: $brand-primary;
	text-transform: uppercase;
}

.fundo{
	background: url(../img/torcida.png) no-repeat;
}

.brasao{
		padding-top: 15px;
}

.cont-clube{
	margin-top: 20px;
}

.tit-clube{
	padding: 5px;
	text-transform: uppercase;
	color: $brand-primary;
	border-bottom: 2px solid $brand-warning;
}

.nome-torneio, .ano{
	text-align: center;
	font-size: 1rem;

}	

.posicao{
	font-size: 8.5rem;
    text-align: center;
}

ul.escudos {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
}

ul.escudos > li {
    display: inline;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 50%;
  }

.text-hitoria{
	padding-top: 15px;
	>p{
		text-align: justify;
	}
}

.dropdown-item:focus, .dropdown-item:hover{
	background-color: #efefef;
}

@media screen and (min-width: 20em) {

ul.escudos > li {
    width: 33.33333%;
  }

}

@media screen and (min-width: 320px) and (max-device-width: 480px) {
	.historia{
		padding-top: 5px;
	}
	.brasao{
		width: 90px;
	}	
	.info-clube{
		text-align: center;
	}
}